<h1 class="text-center my-5">Signup</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= form_for :user, url: '/users', class: "form" do |f| %>

            <div class="form-group mb-3">
              <%= f.label :name, "Name", class: "form-label" %>
              <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :email, "Email", class: "form-label" %>
              <%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password, "Password", class: "form-label" %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password_confirmation, "Password Confirmation", class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
            </div>

            <div class="d-grid gap-2">
              <%= f.submit "Signup", class: "btn btn-primary btn-block" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
